.modal-bg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(110, 110, 110, .5);

    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

.modal-bg .modal {
    width: 60%;
    background-color: rgba(44, 44, 44, 0.95);
    color: white;
    padding: 3rem;
    z-index: 3;
}

.modal .content {
    text-align: center;
}

.content span {
    font-size: 2rem;
}

.content div {
    margin-top: 2rem;
    color: white;
}

.content div a{
    color: white;
    margin-top: 1rem;
    display: inline-block;
}